name: Tests

on:
  push:
  schedule:
    - cron: "0 7 * * 0"

jobs:
  test:
    name: "Test ${{ matrix.pm }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      matrix:
        os: ["ubuntu", "macos", "windows"]
        pm: ["pip", "conda"]
        exclude:
          - pm: "pip"
            os: "windows"

    steps:
      - uses: actions/checkout@v3

      - run: pip3 install pin[build]
        if: matrix.pm == 'pip'

      - run: echo "CMAKE_PREFIX_PATH=$(cmeel cmake)" >> $GITHUB_ENV
        if: matrix.pm == 'pip'

      - uses: conda-incubator/setup-miniconda@v2
        if: matrix.pm == 'conda'
        with:
          auto-activate-base: true

      - run: conda install -c conda-forge pinocchio
        if: matrix.pm == 'conda'

      - run: |
          conda info
          conda list
        if: matrix.pm == 'conda'

      - run: cmake -B build -S .
      - run: cmake --build build
      - run: ./build/main
