name: Tests

on:
  push:
  schedule:
    - cron: "0 7 * * 0"

jobs:
  test-pip:
    name: "Test pip on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      matrix:
        os: ["ubuntu", "macos"]

    steps:
      - uses: actions/checkout@v3

      - run: pip3 install pin[build]
      - run: echo "CMAKE_PREFIX_PATH=$(cmeel cmake)" >> $GITHUB_ENV

      - run: cmake -B build -S . -DPYTHON_EXECUTABLE=python3
      - run: cmake --build build
      - run: ./build/main

  test-conda:
    name: "Test conda on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      matrix:
        os: ["ubuntu", "macos", "windows"]

    steps:
      - uses: actions/checkout@v3

      - uses: conda-incubator/setup-miniconda@v2
      - run: conda install -n test -c conda-forge pinocchio

      - run: cmake -B build -S .
        shell: conda run -n test /bin/bash -c {0}
      - run: cmake --build build
      - run: ./build/main
