name: Tests

on:
  push:
  schedule:
    - cron: "0 7 * * 0"

jobs:
  test:
    name: "Test ${{ matrix.pm }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      matrix:
        os: ["ubuntu", "macos"]
        pm: ["pip", "conda"]
        arch: ["x86_64", "aarch64"]
        exclude:
          - arch: "aarch64"
            os: "macos"
          - arch: "aarch64"
            pm: "conda"

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        if: matrix.pm == 'pip'

      - run: python -m pip install pin[dev]
        if: matrix.pm == 'pip'

      - run: echo "CMAKE_PREFIX_PATH=$(python -m cmeel cmake)" >> $GITHUB_ENV
        if: matrix.pm == 'pip'

      - uses: conda-incubator/setup-miniconda@v2
        if: matrix.pm == 'conda'

      - run: conda install -c conda-forge pinocchio cmake
        if: matrix.pm == 'conda'

      - run: cmake -B build -S .
      - run: cmake --build build
      - run: ./build/main
