name: Tests

on:
  push:
  schedule:
    - cron: "0 7 * * 0"

jobs:
  test:
    name: "Test ${{ matrix.pm }} on ${{ matrix.os }}"
    runs-on: "${{ matrix.os }}-latest"
    strategy:
      matrix:
        pm: ["pip", "conda"]
        os: ["ubuntu", "macos", "windows"]
        exclude:
          - pm: "pip"
            os: "windows"

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - run: pip install pin[build]
        if: matrix.pm == 'pip'

      - run: echo "CMAKE_PREFIX_PATH=$(cmeel cmake)" >> $GITHUB_ENV
        if: matrix.pm == 'pip'

      - uses: conda-incubator/setup-miniconda@v2
        if: matrix.pm == 'conda'
        with:
          activate-environment: test

      - run: conda install -n test -c conda-forge pinocchio
        if: matrix.pm == 'conda'

      - run: |
          conda info
          conda list
        shell: bash -el {0}
        if: matrix.pm == 'conda'

      - run: cmake -B build -S .
        shell: bash -el {0}
      - run: cmake --build build
        shell: bash -el {0}
      - run: ./build/main
